body{
    display: grid;

    align-items: center;
    justify-items: center;
}

#gameBoard{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);

    width: 600px;
    height: 600px;
}

.block{
    display: grid;

    width: 200px;
    height: 200px;
}

.x{
    background-color: red;
}

.o{
    background-color: blue;
}