body{
    display: grid;

    align-items: center;
    justify-items: center;
}

#startPage{

    grid-template-columns: 350px 350px;
    grid-template-rows: 500px 100px ;

    align-items: center;
    justify-items: center;

    height: 600px;
}

#character1{
    display: grid;

    width: 300px;
    height: 400px;
}

#character2{
    display: grid;

    width: 300px;
    height: 400px;
}

#gameBoard{

    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);

    width: 600px;
    height: 600px;
}

.block{
    display: grid;

    width: 200px;
    height: 200px;

    border-style: solid;
}

.x{
    background-image: url("images/cross.png");
    background-size: cover;
}

.o{
    background-image: url("images/nought.png");
    background-size: cover;
}

.active{
    display: grid;
}

.inactive{
    display: none;
}