body{
    display: grid;
    grid-template-columns: auto 100px auto;
    grid-template-rows: 200px, auto;

    align-items: center;
    justify-items: center;

    width: 100%;
    height: 100%;
}

#startPage{

    grid-column-start: 2;
    grid-row-start: 2;

    grid-template-columns: 350px 350px;
    grid-template-rows: 500px 100px ;

    align-items: center;
    justify-items: center;

    height: 600px;
}

#character1{
    display: grid;

    width: 300px;
    height: 400px;
}

#character2{
    display: grid;

    width: 300px;
    height: 400px;
}

#gameBoard{
    grid-column-start: 2;
    grid-row-start: 2;

    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);

    width: 600px;
    height: 600px;
}

#winPage{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;

    align-items: center;
    justify-items: center;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.719);
}

#winForm{
    display: grid;
    width: 300px;
    height: 400px;
    background-color: white;
}

.block{
    display: grid;

    width: 200px;
    height: 200px;

    border-style: solid;
}

.x{
    background-image: url("images/cross.png");
    background-size: cover;
}

.o{
    background-image: url("images/nought.png");
    background-size: cover;
}

.active{
    display: grid;
}

.inactive{
    display: none;
}